body {
  font-family: var(--font-family-main);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--font-primary-color);
  background: var(--background-primary-color);
}

.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include mq(mob) {
    width: 480px;
  }
  @include mq(tab) {
    width: 728px;
  }
  @include mq(desk) {
    width: 1366px;
    padding: 0 90px;
  }
}

.title {
  color: var(--font-title-color);
  font-weight: 400;
  font-size: 68px;
  line-height: 1.05em;

  @include mq(tab) {
    font-size: 68px;
  }

  @include mq(desk) {
    font-size: 68px;
  }
}
