<section class="section section--about">
  <div class="container about">
    <ul class="about__list">
      <li class="about__list-item">
        <div class="about__text-wraper">
          <p class="title">Free with your Scribd subscription</p>
          <p class="about__text">
            Enjoy music, movies, comics, kids books, and more at no extra cost.
            As a Scribd subscriber, you get full premium-level access to
            services for free from our partner companies.
          </p>
          <a class="link about__link" href="#"
            >See all Perks
            <svg class="about__svg-arrow">
              <use href="./icons/icons.svg#icon-arrowRight" />
            </svg>
          </a>
        </div>
        <img class="about__img" src="./images/about/about2.png" alt="das" />
      </li>

      <li class="about__list-item">
        <div class="about__text-wraper">
          <p class="title">Read Everywhere</p>
          <p class="about__text">
            Use Scribd through any web browser, Android, or iOS device. Download
            into the apps for offline access, so whether you’re reading on the
            beach or on the airplane, you’ll always have access. Our apps allow
            you to preview the service, even without a subscription.
          </p>
          <div class="about__shops-wraper">
            <a class="about__link" href="#">
              <svg class="about__svg">
                <use href="./icons/icons.svg#icon-AppStore" />
              </svg>
            </a>
            <a class="about__link" href="#">
              <svg class="about__svg">
                <use href="./icons/icons.svg#icon-googlePlay" />
              </svg>
            </a>
          </div>
        </div>
        <img class="about__img" src="./images/about/about1.png" alt="das" />
      </li>
    </ul>
  </div>
</section>
