<section class="section">
  <div class="container">
    <div id="carousel-container">
      <!-- copy from https://codepen.io/Marouen/pen/OxyEEY -->
      <div>
        <ul id="carousel" class="animate">
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
        </ul>
      </div>

      <!-- <div id="controls">
        <span id="prev"
          ><img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1014830/prev.png"
        /></span>
        <span id="next"
          ><img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1014830/next.png"
        /></span>
      </div> -->
    </div>
  </div>
</section>
