<section class="section section--bestsellers">
  <div class="container bestsellers">
    <h2 class="title bestsellers__title">Bestsellers Are Waiting For You</h2>
    <div id="carousel-container">
      <!-- copy from https://codepen.io/Marouen/pen/OxyEEY -->
      <div>
        <ul id="carousel" class="animate">
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
          <li class="slide animate">
            <img class="slide__img" src="./images/bestsellers/carousel.png" />
          </li>
        </ul>
      </div>

      <div class="button-wraper">
        <button type="button" class="button bestsellers__btn">
          Try It For Free
        </button>
        <p>Only $8.99/month after. Cancel anytime.</p>
      </div>
    </div>
  </div>
</section>
