<section class="section">
  <div class="container blog">
    <div class="blog__text-wrapper">
      <h2 class="title blog__title">From Our Founder</h2>
      <p class="sub-title blog__sub-title">Trip Adler, Founder & CEO</p>
      <p class="blog__text">
        We launched as a simple way to publish any kind of written content on
        the web. Now, Scribd is keeping reading alive in the 21st century.
      </p>
    </div>

    <iframe
      class="blog__iframe"
      src="http://www.youtube.com/embed/dQw4w9WgXcQ"
    ></iframe>
  </div>
</section>
