<section class="section section--catalog">
  <div class="container catalog">
    <h1 class="title catalog__title">All in one simple subscription</h1>
    <ul class="catalog__list">
      <li class="catalog__list-item">
        <div class="catalog__icon-bg">
          <svg class="catalog__svg">
            <use
              class="catalog__svg catalog__svg--music"
              href="./icons/icons.svg#icon-iconoir_music-1"
            />
          </svg>
        </div>

        <p>Audiobooks</p>
      </li>
      <li class="catalog__list-item">
        <div class="catalog__icon-bg">
          <svg class="catalog__svg">
            <use
              class="catalog__svg"
              href="./icons/icons.svg#icon-et_documents"
            />
          </svg>
        </div>

        <p>Audiobooks</p>
      </li>
      <li class="catalog__list-item">
        <div class="catalog__icon-bg">
          <svg class="catalog__svg">
            <use
              class="catalog__svg"
              href="./icons/icons.svg#icon-et_documents"
            />
          </svg>
        </div>
        <p>Audiobooks</p>
      </li>
      <li class="catalog__list-item">
        <div class="catalog__icon-bg">
          <svg class="catalog__svg">
            <use
              class="catalog__svg"
              href="./icons/icons.svg#icon-et_documents"
            />
          </svg>
        </div>

        <p>Audiobooks</p>
      </li>
      <li class="catalog__list-item">
        <div class="catalog__icon-bg">
          <svg class="catalog__svg">
            <use
              class="catalog__svg"
              href="./icons/icons.svg#icon-et_documents"
            />
          </svg>
        </div>

        <p>Audiobooks</p>
      </li>
      <li class="catalog__list-item">
        <div class="catalog__icon-bg">
          <svg class="catalog__svg">
            <use
              class="catalog__svg"
              href="./icons/icons.svg#icon-et_documents"
            />
          </svg>
        </div>

        <p>Audiobooks</p>
      </li>
    </ul>
    <div class="catalog__btn-wraper">
      <button type="button" class="button">Try It For Free</button>
      <p class="caption">Only $8.99/month after. Cancel anytime.</p>
    </div>
  </div>
</section>
