<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li>
        <p class="footer__title">Language</p>
        <select class="dropdown">
          <option>E nglish</option>
        </select>
      </li>
      <li>
        <p class="footer__title">Legal</p>
        <ul class="leagal-list">
          <li class="leagal-list__item">Terms</li>
          <li class="leagal-list__item">Privacy</li>
          <li class="leagal-list__item">Copyright</li>
          <li class="leagal-list__item">Cookie Preferences</li>
        </ul>
        <!-- <p>Terms Privacy Copyright Cookie Preferences</p> -->
      </li>
      <li>
        <p class="footer__title">Social</p>
        <ul class="social-list">
          <li class="social-list__item">
            <a class="link social-list__link">
              <svg class="social-list__svg">
                <use href="./icons/icons.svg#icon-inst" />
              </svg>
              <p>Instagram</p>
            </a>
          </li>
          <li class="social-list__item">
            <a class="link social-list__link">
              <svg class="social-list__svg">
                <use href="./icons/icons.svg#icon-fb" />
              </svg>
              <p>Facebook</p>
            </a>
          </li>
          <li class="social-list__item">
            <a class="link social-list__link">
              <svg class="social-list__svg">
                <use href="./icons/icons.svg#icon-twit" />
              </svg>
              <p>Twitter</p>
            </a>
          </li>

          <li class="social-list__item">
            <a class="link social-list__link">
              <svg class="social-list__svg">
                <use href="./icons/icons.svg#icon-pinterest" />
              </svg>
              <p>Pinterest</p>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <p class="footer__title">Free app</p>
        <ul class="app-list">
          <li>
            <a class="link footer__link" href="#">
              <svg class="footer__svg">
                <use href="./icons/icons.svg#icon-AppStore" />
              </svg>
            </a>
          </li>
          <li>
            <a class="link footer__link" href="#">
              <svg class="footer__svg">
                <use href="./icons/icons.svg#icon-googlePlay" />
                v
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
