<section class="section section--hero hero">
  <div class="container hero__wraper">
    <div class="hero__text-wraper">
      <h1 class="hero__title hero__title--gap">
        Here You Can Find Your
        <span class="hero__title-decorator">Favourite</span>
        Book
      </h1>
      <p class="hero__sub-title hero__sub-title--gap">
        Explore audiobooks, ebooks, magazines, podcasts, and more.
      </p>
      <button type="button" class="button hero__button--gap">
        Try It For Free
      </button>
      <p class="caption hero__caption--gap">
        Only $8.99/month after. Cancel anytime.
      </p>
    </div>

    <img
      class="hero__img"
      srcset="/src/images/Hero/Hero.png 1x, /src/images/Hero/HeroX2.png 2x"
      src="/src/images/Hero/Hero.png"
      alt=""
    />
  </div>
</section>
