<section class="section section--sing-up">
  <div class="container sing-up">
    <h2 class="title sing-up__title">Sing Up</h2>
    <p class="sub-title sing-up__sub-title">and Try Free Subscribe</p>
    <form class="form sing-up__form">
      <label class="form__label sing-up__label" for="">
        Name
        <input placeholder="Michael Jordan" class="form__input" type="text" />
      </label>
      <label class="form__label sing-up__label" for="">
        Email
        <input
          placeholder="example123@gmail.com"
          class="form__input"
          type="text"
        />
      </label>
      <label class="form__label sing-up__label" for="">
        Password
        <input placeholder="***********" class="form__input" type="text" />
      </label>
      <label class="sing-up__label checkbox">
        Send me updates from Scribd
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
      <button class="button sing-up__btn" type="submit">Try It For Free</button>
    </form>
    <button
      class="button button--secondory sing-up__btn sing-up__btn--google"
      type="btn"
    >
      <svg class="catalog__svg">
        <use class="catalog__svg" href="./icons/icons.svg#icon-Google-Logo" />
      </svg>
      <p>Sign In with Google</p>
    </button>
    <p class="sing-up__text">
      Already have an account? <a class="link sing-up__link">Sign In</a>
    </p>
  </div>
</section>
