<section class="section">
  <div class="container what-is-scribd">
    <div class="what-is-scribd__text-wraper">
      <h2 class="title what-is-scribd__title">What is Scribd</h2>
      <p>
        Scribd gives you instant access to ebooks, audiobooks, articles,
        podcasts, sheet music, and documents — all in one simple digital
        subscription.
      </p>
    </div>

    <img
      class="what-is-scribd__img"
      srcset="
        ./images/whatIsScribd/books.png 1x,
        ./images/whatIsScribd/books.png 2x
      "
      src="./images/whatIsScribd/books.png"
      alt=""
      width="620"
    />
  </div>
</section>
