.button {
  background: var(--background-primary-btn-color);
  width: auto;
  border-color: transparent;
  border-radius: 10px;

  transition: transform var(--shift);
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
.button {
  &--sigh-in {
    width: 140px;
    height: 70px;
    padding: 17px 30px;
    margin-left: 50px;
  }
}
