.navigation {
  display: flex;
}
.navigation {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  &__link {
    color: var(--font-media-color);
    transition: color var(--shift);
    &:hover,
    &:focus {
      color: var(--font-accent-color);
    }
  }
  &__link {
    &--active {
      cursor: default;
      color: var(--font-accent-color);
    }
  }
}
