.section {
  padding-bottom: 100px;
}
.section {
  &--hero {
    padding-bottom: 170px;
  }
  &--catalog {
    background-color: var(--background-secondery-color);
  }
  &--sing-up {
    padding-bottom: 156px;
  }
}
