.about {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }
  &__list-item {
    display: flex;
    gap: 180px;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  &__img {
    display: block;
    width: 620px;
  }
  &__text-wraper {
    width: 455px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
  }

  &__link {
    text-align: right;
    color: var(--font-accent-color);
  }
}
