.blog {
  display: flex;
  justify-content: space-between;
}

.blog {
  &__title {
    font-size: 54px;
  }
  &__sub-title {
    margin-top: 45px;
    font-size: 36px;
  }
  &__text {
    margin-top: 20px;
    font-size: 20px;
    width: 450px;
  }
  &__text-wrapper {
    width: 480px;
  }
  &__iframe {
    width: 620px;
    height: 350px;
  }
}
