.what-is-scribd {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  @include mq(not-desk) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 0;
  }
}
.what-is-scribd {
  &__img {
    flex-basis: 620px;
    width: 620px;
    height: 295px;
    @include mq(not-desk) {
      flex-basis: auto;
    }
  }
  &__text-wraper {
    flex-basis: 465px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include mq(not-desk) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 0;
      flex-basis: auto;
    }
  }
  &__title {
    font-size: 54px;
    line-height: 105%;
  }
}
